.col-md-12
  .panel.panel-default
    .panel-heading
      = t('activerecord.attributes.event.status')
    .panel-body
      = status_html(event)

  .panel.panel-default
    .panel-heading
      = t('activerecord.attributes.event.name')
    .panel-body
      = event.name

  .panel.panel-default
    .panel-heading
      = t('layouts.event_leader_name')
    .panel-body
      = event.leader_user.name

  .panel.panel-default
    .panel-heading
      = t('activerecord.attributes.event.event_at')
    .panel-body
      = event.event_at.strftime(I18n.t('time.formats.long'))

  .panel.panel-default
    .panel-heading
      = t('activerecord.attributes.event.deadline_at')
    .panel-body
      = deadline_at(event)

  .panel.panel-default
    .panel-heading
      = t('activerecord.attributes.event.comment')
    .panel-body
      = simple_format(event.comment)

  .panel.panel-default
    .panel-heading
      = t('activerecord.attributes.event.max_participants')
    .panel-body
      = event.max_participants
      = t('layouts.participant_unit')
