#leader_event_list.panel.panel-info
  .panel-heading= t('layouts.leader_event_list')
  - if leader_events.present?
    %table.table
      - leader_events.each do |event|
        %tr
          %td= event.event_at.strftime(I18n.t('time.formats.middle'))
          %td
            = link_to event.name, event_path(event.id)
            - unless event.normal?
              %i.small= status_html(event)
  - else
    .panel-body
      .text-danger= t('layouts.no_leading_event')
