- unless event.leader?(current_user)
  .row
    .col-md-12
      .panel.panel-default
        .panel-body
          - if event.can_participate?
            - if event.participated?(current_user)
              = link_to t('layouts.link_to_cancel_participate'), event_cancel_participate_path(event), method: :post, class: 'btn btn-default'
            - else
              = form_for(event, url: event_participate_path(event), method: :post, class: 'form-horizontal', role: 'form') do |f|
                = error_messages_for(event)
                .form-group
                  = f.label :participant_comment
                  = f.text_field :participant_comment, class: 'form-control'
                = f.submit t('layouts.link_to_participate_event'), class: 'btn btn-default', data: { disable_with: t('layouts.event_participating') }
          - else
            = t('layouts.cannot_participate')
