#participating_event_list.panel.panel-info
  .panel-heading= t('layouts.participating_event_list')
  - if current_user_participant_events.present?
    %table.table
      - current_user_participant_events.each do |event|
        %tr
          %td= event.event_at.strftime(I18n.t('time.formats.middle'))
          %td
            = link_to event.name, event_path(event.id)
            - unless event.normal?
              %i.small= status_html(event)

  - else
    .panel-body
      .text-danger= t('layouts.no_participating_event')
