.page-header
  %h1= t('layouts.event_index_top')

.panel.panel-default
  .panel-body
    %h5
      = link_to t('layouts.link_to_event_new_top'), new_event_path

.panel.panel-default
  .panel-body
    %h3= t('layouts.event_list_top')
    %ul.list-group
      - @event.each do |event|
        %li.list-group-item
          %h5
            = link_to event.name, event_path( event.id )
            %small
              by
              = event.leader_user.name
