.page-header
  %h1= t('layouts.event_index_top')

.panel.panel-default
  .panel-body
    %h5
      = link_to t('layouts.link_to_event_new_top'), new_event_path

= render partial: 'participanting_events_list', locals: { current_user_participants: @current_user_participants, leader_events: @leader_events }

.panel
  .panel-body
    %h3
      = t('layouts.event_list_top')
    .list-group
      - @events.each do |event|
        .row.list-group-item
          .col-md-2
            %h5
              = event.event_at.strftime(I18n.t('time.formats.middle'))
          .col-md-8
            %h4
              = link_to event.name, event_path( event.id )
          .col-md-2
            %small
              by
              = event.leader_user.name
.pull-right
  = link_to I18n.t('layouts.link_logout'), logout_users_path, class: 'btn'
