.page-header
  %h1= t('layouts.event_new_top')

= form_for(@event, class: 'form-horizontal', role: 'form') do |f|
  = error_messages_for(@event)

  .form-group
    = f.label :name
    = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :event_at
    .bootstraptimepicker_date.input-group.date
      = f.text_field :event_at_date, class: 'form-control datepicker_date', id: 'event_event_at_date', name: 'event[event_at_date]'
      %span.input-group-addon
        %span.glyphicon.glyphicon-calendar

    .bootstraptimepicker_time.input-group.date
      = f.text_field :event_at_time, class: 'form-control datepicker_time', id: 'event_event_at_time', name: 'event[event_at_time]'
      %span.input-group-addon
        %span.glyphicon.glyphicon-time

  .form-group
    = f.label :deadline_at

    .bootstraptimepicker_date.input-group.date
      = f.text_field :deadline_at_date, class: 'form-control datepicker_date', id: 'event_deadline_at_date', name: 'event[deadline_at_date]'
      %span.input-group-addon
        %span.glyphicon.glyphicon-calendar

    .bootstraptimepicker_time.input-group.date
      = f.text_field :deadline_at_time, class: 'form-control datepicker_time', id: 'event_deadline_at_time', name: 'event[deadline_at_time]'
      %span.input-group-addon
        %span.glyphicon.glyphicon-time

  .form-group
    = f.label :comment
    = f.text_area :comment, class: 'form-control', row: 10

  .form-group
    = f.label :max_paticipants
    = f.text_field :max_paticipants, class: 'form-control', maxlength: 3

  = f.submit t('layouts.event_new_label'), class: 'btn btn-default', data: { disable_with: t('layouts.event_new_making') }
